# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
terraform.rc
terraform.d/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# AWS Lambda artifacts
*.zip

# IDEs
.vscode/
.idea/
.DS_Store